
    <div class="card mb-5 mb-lg-0">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{planType}}</h5>
        <h6 class="card-price text-center">{{price}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{user}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{puproject}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{caccess}}</li>
          <li [ngClass]="{online: prproject1 === 'false'}"><span class="fa-li"><i class="fas fa-times"></i></span>{{prproject}}</li>
          <li [ngClass]="{online: phone1 === 'false'}"><span class="fa-li"><i class="fas fa-times"></i></span>{{phone}}</li>
          <li [ngClass]="{online: domain1 === 'false'}"><span class="fa-li"><i class="fas fa-times"></i></span>{{domain}}</li>
          <li [ngClass]="{online: status1 === 'false'}"><span class="fa-li"><i class="fas fa-times"></i></span>{{status}}</li>
        </ul>
        <a href="#" class="btn btn-block btn-primary text-uppercase ">Button</a>
      </div>
    </div>
